* {
  margin: 0px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.app__container {
  display: flex;
  flex-direction: column;
}

.header__todo {
  background-color: rgb(162, 190, 190);
  color: rgb(50, 53, 54);
  font-family: "Times New Roman";
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__todo > h1 {
  padding: 10px 0;
}

.input__todo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: chocolate;
}

.icon__button:hover {
  color: rgb(0, 147, 245);
  cursor: pointer;
}

.body__todo {
  background-color: #f0e7e7;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__container {
  background-color: cornsilk;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.form__container {
  display: flex;
}

.items__container {
  justify-content: space-between;
  margin-top: 10px;
  width: 500px;
}

@media (max-width: 450px) {
  .items__container {
    justify-content: space-between;
    margin-top: 10px;
    max-width: 400px;
  }
}

.table {
  margin-top: 20px;
  overflow: scroll;
  height: 600px;
  color: rgb(59, 54, 54);
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: lightgray;
}

.table tr:hover {
  background-color: rgb(166, 160, 243);
}
