* {
  margin: 0px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.header__todo {
  background-color: rgb(162, 190, 190);
  color: rgb(50, 53, 54);
  font-family: "Times New Roman";
  display: flex;
  direction: flex;
  align-items: center;
  justify-content: center;
}

.header__todo > h1 {
  padding: 10px 0;
}

.body__todo {
  background-color: rgb(224, 228, 220);
}

.input__todo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: chocolate;
}

.icon__button:hover {
  color: rgb(0, 147, 245);
  cursor: pointer;
}
